# Iteration vs Recursion

In [ ]:
text = "ahh shit, here we go again is a great meme"

In [ ]:
text

In [ ]:
# iterative solution
def find_n(text, letter='n'):
    for idx, char in enumerate(text):
        print(f"Index: {idx}    {char}")
        if char == letter:
            print("\nSTOP")
            print(f"Found {letter} at index {idx}")
            return

In [ ]:
find_n(text, 'n')

In [ ]:
def find_n(text, calls=0, letter='n'):
    print(f"Call: {calls}    {text}")
    if text and text[0] == letter:
        print("\nSTOP")
        print(f"Found {letter} at index {calls}")
        return
    
    return find_n(text[1:], calls + 1)

In [ ]:
find_n(text)

exercise question for recursion

In [ ]:
def mistero(x):
    a = len(x)
    if a == 1:
        return x[0]
    else:
        y = mistero(x[a//2:])
        z = mistero(x[:a//2])
        if z > y:
            return z
        else:
            return y

In [ ]:
CALL = 0

def mistero(lst):
    global CALL
    print(f"\n     CALL: {CALL}\n")
    CALL += 1

    
    listLen = len(lst)
    
    print(f"Number of elements: {listLen}    List: {lst}")
    
    if listLen == 1:
        return lst[0]
    else:
        upper = mistero(lst[listLen//2:])
        lower = mistero(lst[:listLen//2])
        
        print(f"Upper: {upper}    Lower: {lower}")
        
        if lower > upper:
            print(f"Keep {lower}")
            return lower
        else:
            print(f"Keep {upper}")
            return upper

In [ ]:
mistero(list(range(6)))

In [ ]:
mistero([-1,0,10,10000,50,66,80])

# Previous Exam

#### Question 1

`97097114103104` with `k=3`:
- `097` = `a`
- `097` = `a`
- `114` = `r`
- `103` = `g`
- `104` = `h`

In [1]:
from run import *

In [2]:
print(num2txt(97097114103104, k=3))

aargh

#### Question 2
The function `reverse_reocrds(csv_filename, new_filename)` takes in an input `csv_filename` and copies its content into `new_filename`.   
- The header of the input file is copied first
- Then, the ordering of the remaining rows are reversed such that the last row in the input file is inserted in the output file first.

In [3]:
stuff()

Input

 col1  col2  col3
    1     2     3
    4     5     6
    7     8     9
    a     b     c
    x     y     z

Output

 col1  col2  col3
    x     y     z
    a     b     c
    7     8     9
    4     5     6
    1     2     3