In [1]:
d = {'a': 0, 'b': 7}

In [2]:
d

{'a': 0, 'b': 7}

In [10]:
d.get('z', 0)

0

# Iteration vs Recursion

In [1]:
text = "wow this is a cool thing"

In [2]:
text

'wow this is a cool thing'

In [3]:
# iterative solution
def find_n(text, letter='n'):
    for idx, char in enumerate(text):
        print(f"Index: {idx}    {char}")
        if char == letter:
            print("\nSTOP")
            print(f"Found {letter} at index {idx}")
            return

In [4]:
find_n(text, 'n')

Index: 0    w
Index: 1    o
Index: 2    w
Index: 3
Index: 4    t
Index: 5    h
Index: 6    i
Index: 7    s
Index: 8
Index: 9    i
Index: 10    s
Index: 11
Index: 12    a
Index: 13
Index: 14    c
Index: 15    o
Index: 16    o
Index: 17    l
Index: 18
Index: 19    t
Index: 20    h
Index: 21    i
Index: 22    n

STOP
Found n at index 22

In [5]:
def find_n(text, calls=0, letter='n'):
    print(f"Call: {calls}    {text}")
    if text and text[0] == letter:
        print("\nSTOP")
        print(f"Found {letter} at index {calls}")
        return
    
    return find_n(text[1:], calls + 1)

In [6]:
find_n(text)

Call: 0    wow this is a cool thing
Call: 1    ow this is a cool thing
Call: 2    w this is a cool thing
Call: 3     this is a cool thing
Call: 4    this is a cool thing
Call: 5    his is a cool thing
Call: 6    is is a cool thing
Call: 7    s is a cool thing
Call: 8     is a cool thing
Call: 9    is a cool thing
Call: 10    s a cool thing
Call: 11     a cool thing
Call: 12    a cool thing
Call: 13     cool thing
Call: 14    cool thing
Call: 15    ool thing
Call: 16    ol thing
Call: 17    l thing
Call: 18     thing
Call: 19    thing
Call: 20    hing
Call: 21    ing
Call: 22    ng

STOP
Found n at index 22

exercise question for recursion

In [7]:
def mistero(x):
    a = len(x)
    if a == 1:
        return x[0]
    else:
        y = mistero(x[a//2:])
        z = mistero(x[:a//2])
        if z > y:
            return z
        else:
            return y

In [8]:
CALL = 0

def mistero(lst):
    global CALL
    print(f"\n     CALL: {CALL}\n")
    CALL += 1

    
    listLen = len(lst)
    
    print(f"Number of elements: {listLen}    List: {lst}")
    
    if listLen == 1:
        return lst[0]
    else:
        upper = mistero(lst[listLen//2:])
        lower = mistero(lst[:listLen//2])
        
        print(f"Upper: {upper}    Lower: {lower}")
        
        if lower > upper:
            print(f"Keep {lower}")
            return lower
        else:
            print(f"Keep {upper}")
            return upper

In [9]:
mistero(list(range(6)))

     CALL: 0

Number of elements: 6    List: [0, 1, 2, 3, 4, 5]

     CALL: 1

Number of elements: 3    List: [3, 4, 5]

     CALL: 2

Number of elements: 2    List: [4, 5]

     CALL: 3

Number of elements: 1    List: [5]

     CALL: 4

Number of elements: 1    List: [4]
Upper: 5    Lower: 4
Keep 5

     CALL: 5

Number of elements: 1    List: [3]
Upper: 5    Lower: 3
Keep 5

     CALL: 6

Number of elements: 3    List: [0, 1, 2]

     CALL: 7

Number of elements: 2    List: [1, 2]

     CALL: 8

Number of elements: 1    List: [2]

     CALL: 9

Number of elements: 1    List: [1]
Upper: 2    Lower: 1
Keep 2

     CALL: 10

Number of elements: 1    List: [0]
Upper: 2    Lower: 0
Keep 2
Upper: 5    Lower: 2
Keep 5

5

In [10]:
mistero([-1,0,10,10000,50,66,80])

     CALL: 11

Number of elements: 7    List: [-1, 0, 10, 10000, 50, 66, 80]

     CALL: 12

Number of elements: 4    List: [10000, 50, 66, 80]

     CALL: 13

Number of elements: 2    List: [66, 80]

     CALL: 14

Number of elements: 1    List: [80]

     CALL: 15

Number of elements: 1    List: [66]
Upper: 80    Lower: 66
Keep 80

     CALL: 16

Number of elements: 2    List: [10000, 50]

     CALL: 17

Number of elements: 1    List: [50]

     CALL: 18

Number of elements: 1    List: [10000]
Upper: 50    Lower: 10000
Keep 10000
Upper: 80    Lower: 10000
Keep 10000

     CALL: 19

Number of elements: 3    List: [-1, 0, 10]

     CALL: 20

Number of elements: 2    List: [0, 10]

     CALL: 21

Number of elements: 1    List: [10]

     CALL: 22

Number of elements: 1    List: [0]
Upper: 10    Lower: 0
Keep 10

     CALL: 23

Number of elements: 1    List: [-1]
Upper: 10    Lower: -1
Keep 10
Upper: 10000    Lower: 10
Keep 10000

10000

# Previous Exam

#### Question 1

`097097114103104` with `k=3`:
- `097` = `a`
- `097` = `a`
- `114` = `r`
- `103` = `g`
- `104` = `h`

In [11]:
from run import *

In [12]:
print(num2txt(97097114103104, k=3))

aargh

#### Question 2
The function `reverse_records(csv_filename, new_filename)` takes in an input `csv_filename` and copies its content into `new_filename`.   
- The header of the input file is copied first
- Then, the ordering of the remaining rows are reversed such that the last row in the input file is inserted in the output file first.

In [13]:
stuff()

Input

 col1  col2  col3
    1     2     3
    4     5     6
    7     8     9
    a     b     c
    x     y     z

Output

 col1  col2  col3
    x     y     z
    a     b     c
    7     8     9
    4     5     6
    1     2     3