```python
freq = {}

words = "apple apple fish apple"
for word in words.split():
    if word not in freq:
        freq[word] = 0
    freq[word] += 1
```

## Defaultdict vs Counter
Defaultdict:
- `defaultdict` is a generalised dictionary that can initialise keys it has never seen before to the equivalent of `bool() = False`.
- For example, if I had a `defaultdict(int)`, then `bool(0) = False`. Therefore, any new key added will be initialised to `0`.
- Additionally, consider a `defaultdict(list)`. Since `bool([]) = False`, then any new key added will be initialised as an empty list `[]`.

Counter:
- A variation of the `defaultdict(int)` which essentially packs the following code into a function:  

```python
from collections import defaultdict

freq = defaultdict(int)

words = "apple apple fish apple"
for word in words.split():
    freq[word] += 1
```

- or alternatively using `Counter()`...    

```python
from collections import Counter

words = "apple apple fish apple"
freq = Counter(words.split())
```
- the code blocks above both yield the same answer (but `Counter()` has some nice methods such as `.most_common()`)

In [1]:
from collections import Counter

words = "apple apple fish apple blob sugar candy apple fish fish apple"
freq = Counter(words.split())

In [2]:
freq

Counter({'apple': 5, 'fish': 3, 'blob': 1, 'sugar': 1, 'candy': 1})

In [3]:
freq.most_common(1)

[('apple', 5)]

In [4]:
freq.most_common(3)

[('apple', 5), ('fish', 3), ('blob', 1)]

## List Comprehension

In [5]:
nums = range(20)

Simple list comprehension:

In [6]:
[i for i in nums]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

Consider this code:  

```python
output = []
for i in nums:
    if i % 2 == 0:
        output.append(i)
```

To convert this into a list comprehension using a single `if` statement:

In [7]:
[i for i in nums if i % 2 == 0]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

Consider this code:  

```python
output = []
for i in nums:
    if i % 2 == 0:
        output.append(i)
    else:
        output.append(-1)
```

To convert this into a list comprehension using multiple conditions:

In [8]:
[i if i % 2 == 0 else -1 for i in nums]

[0, -1, 2, -1, 4, -1, 6, -1, 8, -1, 10, -1, 12, -1, 14, -1, 16, -1, 18, -1]

**Advanced**
- Dictionary comprehension
- Set comprehension

In [9]:
words = "apple fish banana"
nums = (4, 7, 10)

{word: num for word, num in zip(words.split(), nums)}

{'apple': 4, 'fish': 7, 'banana': 10}

In [10]:
counts = [((0, 1), 10), ((1, 1), 5), ((7, 3), 3), ((7, 0), -1)]

{coordinate: value for coordinate, value in counts}

{(0, 1): 10, (1, 1): 5, (7, 3): 3, (7, 0): -1}

In [11]:
dupes = "apple apple fish apple banana FISH FISH FISH FISH"

{i for i in dupes.split() if i.islower()}

{'apple', 'banana', 'fish'}

## Cycle

In [12]:
from itertools import cycle

cards = cycle([2,3,4,5,6,7,8,9,10,'J','Q','K'])

for i in range(24):
    print(next(cards))

2
3
4
5
6
7
8
9
10
J
Q
K
2
3
4
5
6
7
8
9
10
J
Q
K

## Combinations vs Permutations

In [13]:
from itertools import combinations, permutations

nums = range(10)

Combinations:  
- All unique sets of combinations (i.e if we have `(0, 1)`, we won't have a `(1, 0)`).
- That is, we find all combinations without replacement.
- Ordering does not matter.

In [14]:
list(combinations(nums, r=2))

[(0, 1),
 (0, 2),
 (0, 3),
 (0, 4),
 (0, 5),
 (0, 6),
 (0, 7),
 (0, 8),
 (0, 9),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (1, 7),
 (1, 8),
 (1, 9),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (2, 7),
 (2, 8),
 (2, 9),
 (3, 4),
 (3, 5),
 (3, 6),
 (3, 7),
 (3, 8),
 (3, 9),
 (4, 5),
 (4, 6),
 (4, 7),
 (4, 8),
 (4, 9),
 (5, 6),
 (5, 7),
 (5, 8),
 (5, 9),
 (6, 7),
 (6, 8),
 (6, 9),
 (7, 8),
 (7, 9),
 (8, 9)]

Permutations:
- All unique sequences of combinations (i.e if we have `(0, 1)`, we will have a `(1, 0)` as it has different ordering).
- That is, all possible *combinations* in which a sequence can be ordered or arranged.
- Ordering does matter.

In [15]:
list(permutations(nums,r=2))

[(0, 1),
 (0, 2),
 (0, 3),
 (0, 4),
 (0, 5),
 (0, 6),
 (0, 7),
 (0, 8),
 (0, 9),
 (1, 0),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (1, 7),
 (1, 8),
 (1, 9),
 (2, 0),
 (2, 1),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (2, 7),
 (2, 8),
 (2, 9),
 (3, 0),
 (3, 1),
 (3, 2),
 (3, 4),
 (3, 5),
 (3, 6),
 (3, 7),
 (3, 8),
 (3, 9),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 5),
 (4, 6),
 (4, 7),
 (4, 8),
 (4, 9),
 (5, 0),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 6),
 (5, 7),
 (5, 8),
 (5, 9),
 (6, 0),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4),
 (6, 5),
 (6, 7),
 (6, 8),
 (6, 9),
 (7, 0),
 (7, 1),
 (7, 2),
 (7, 3),
 (7, 4),
 (7, 5),
 (7, 6),
 (7, 8),
 (7, 9),
 (8, 0),
 (8, 1),
 (8, 2),
 (8, 3),
 (8, 4),
 (8, 5),
 (8, 6),
 (8, 7),
 (8, 9),
 (9, 0),
 (9, 1),
 (9, 2),
 (9, 3),
 (9, 4),
 (9, 5),
 (9, 6),
 (9, 7),
 (9, 8)]

## Unpacking

In [16]:
x, y = (1, 0)
print(x)
print(y)

1
0

In [17]:
nums, count = ([1, 7, 3, 5], 4)
print(nums)
print(count)

[1, 7, 3, 5]
4

In [18]:
*_, n1, n2 = ("rubbish1", "rubbish2", 0, 1)
print(n1)
print(n2)

0
1

In [19]:
n3, *_, n4 = (3, "rubbish1", "rubbish2", "rubbish3", "rubbish4", 7)
print(n3)
print(n4)

3
7

In [20]:
n5, n6, *_ = (10, 9, "rubbish1", "rubbish2", "rubbish3")
print(n5)
print(n6)

10
9

## Iteration vs Recursion

In [21]:
text = "wow this is a cool thing"
text

'wow this is a cool thing'

Here's an iterative solution

In [22]:
def find_n(text, letter='n'):
    for idx, char in enumerate(text):
        print(f"Index: {idx}    {char}")
        if char == letter:
            print("\nSTOP")
            print(f"Found {letter} at index {idx}")
            return 
        
find_n(text, 'n')

Index: 0    w
Index: 1    o
Index: 2    w
Index: 3
Index: 4    t
Index: 5    h
Index: 6    i
Index: 7    s
Index: 8
Index: 9    i
Index: 10    s
Index: 11
Index: 12    a
Index: 13
Index: 14    c
Index: 15    o
Index: 16    o
Index: 17    l
Index: 18
Index: 19    t
Index: 20    h
Index: 21    i
Index: 22    n

STOP
Found n at index 22

Now consider this recursive alternative

In [23]:
def find_n(text, calls=0, letter='n'):
    print(f"Call: {calls}    {text}")
    if text and text[0] == letter:
        print("\nSTOP")
        print(f"Found {letter} at index {calls}")
        return
    
    return find_n(text[1:], calls + 1)

In [24]:
find_n(text)

Call: 0    wow this is a cool thing
Call: 1    ow this is a cool thing
Call: 2    w this is a cool thing
Call: 3     this is a cool thing
Call: 4    this is a cool thing
Call: 5    his is a cool thing
Call: 6    is is a cool thing
Call: 7    s is a cool thing
Call: 8     is a cool thing
Call: 9    is a cool thing
Call: 10    s a cool thing
Call: 11     a cool thing
Call: 12    a cool thing
Call: 13     cool thing
Call: 14    cool thing
Call: 15    ool thing
Call: 16    ol thing
Call: 17    l thing
Call: 18     thing
Call: 19    thing
Call: 20    hing
Call: 21    ing
Call: 22    ng

STOP
Found n at index 22

#### Exercise Question for Recursion

In [25]:
def mistero(x):
    a = len(x)
    if a == 1:
        return x[0]
    else:
        y = mistero(x[a//2:])
        z = mistero(x[:a//2])
        if z > y:
            return z
        else:
            return y

In [26]:
CALL = 0

def mistero(lst):
    global CALL
    print(f"\n     CALL: {CALL}\n")
    CALL += 1

    
    listLen = len(lst)
    
    print(f"Number of elements: {listLen}    List: {lst}")
    
    if listLen == 1:
        return lst[0]
    else:
        upper = mistero(lst[listLen//2:])
        lower = mistero(lst[:listLen//2])
        
        print(f"Upper: {upper}    Lower: {lower}")
        
        if lower > upper:
            print(f"Keep {lower}")
            return lower
        else:
            print(f"Keep {upper}")
            return upper

In [27]:
mistero(list(range(6)))

     CALL: 0

Number of elements: 6    List: [0, 1, 2, 3, 4, 5]

     CALL: 1

Number of elements: 3    List: [3, 4, 5]

     CALL: 2

Number of elements: 2    List: [4, 5]

     CALL: 3

Number of elements: 1    List: [5]

     CALL: 4

Number of elements: 1    List: [4]
Upper: 5    Lower: 4
Keep 5

     CALL: 5

Number of elements: 1    List: [3]
Upper: 5    Lower: 3
Keep 5

     CALL: 6

Number of elements: 3    List: [0, 1, 2]

     CALL: 7

Number of elements: 2    List: [1, 2]

     CALL: 8

Number of elements: 1    List: [2]

     CALL: 9

Number of elements: 1    List: [1]
Upper: 2    Lower: 1
Keep 2

     CALL: 10

Number of elements: 1    List: [0]
Upper: 2    Lower: 0
Keep 2
Upper: 5    Lower: 2
Keep 5

5

In [28]:
mistero([-1,0,10,10000,50,66,80])

     CALL: 11

Number of elements: 7    List: [-1, 0, 10, 10000, 50, 66, 80]

     CALL: 12

Number of elements: 4    List: [10000, 50, 66, 80]

     CALL: 13

Number of elements: 2    List: [66, 80]

     CALL: 14

Number of elements: 1    List: [80]

     CALL: 15

Number of elements: 1    List: [66]
Upper: 80    Lower: 66
Keep 80

     CALL: 16

Number of elements: 2    List: [10000, 50]

     CALL: 17

Number of elements: 1    List: [50]

     CALL: 18

Number of elements: 1    List: [10000]
Upper: 50    Lower: 10000
Keep 10000
Upper: 80    Lower: 10000
Keep 10000

     CALL: 19

Number of elements: 3    List: [-1, 0, 10]

     CALL: 20

Number of elements: 2    List: [0, 10]

     CALL: 21

Number of elements: 1    List: [10]

     CALL: 22

Number of elements: 1    List: [0]
Upper: 10    Lower: 0
Keep 10

     CALL: 23

Number of elements: 1    List: [-1]
Upper: 10    Lower: -1
Keep 10
Upper: 10000    Lower: 10
Keep 10000

10000

## Previous Exam Questions

#### Question 1

`097097114103104` with `k=3`:
- `097` = `a`
- `097` = `a`
- `114` = `r`
- `103` = `g`
- `104` = `h`

In [29]:
from run import *

In [30]:
print(num2txt(97097114103104, k=3))

aargh

#### Question 2
The function `reverse_records(csv_filename, new_filename)` takes in an input `csv_filename` and copies its content into `new_filename`.   
- The header of the input file is copied first
- Then, the ordering of the remaining rows are reversed such that the last row in the input file is inserted in the output file first.

In [31]:
stuff()

Input

 col1  col2  col3
    1     2     3
    4     5     6
    7     8     9
    a     b     c
    x     y     z

Output

 col1  col2  col3
    x     y     z
    a     b     c
    7     8     9
    4     5     6
    1     2     3