## Defaultdict vs Counter
Normal Frequency Dictionary:
```python
freq = {}

words = "apple apple fish apple"
for word in words.split():
    if word not in freq:
        freq[word] = 0
    freq[word] += 1
```

Defaultdict:
- `defaultdict` is a generalised dictionary that can initialise keys it has never seen before to the equivalent of `bool() = False`.
- For example, if I had a `defaultdict(int)`, then `bool(0) = False`. Therefore, any new key added will be initialised to `0`.
- Additionally, consider a `defaultdict(list)`. Since `bool([]) = False`, then any new key added will be initialised as an empty list `[]`.

Counter:
- A variation of the `defaultdict(int)` which essentially packs the following code into a function:  

```python
from collections import defaultdict

freq = defaultdict(int)

words = "apple apple fish apple"
for word in words.split():
    freq[word] += 1
```

- into...

```python
from collections import Counter

words = "apple apple fish apple"
freq = Counter(words.split())
```
- the code blocks above both yield the same answer (but `Counter()` has some nice methods such as `.most_common()`)

In [1]:
from collections import Counter

words = "apple apple fish apple blob sugar candy apple fish fish apple"
freq = Counter(words.split())

In [2]:
freq

Counter({'apple': 5, 'fish': 3, 'blob': 1, 'sugar': 1, 'candy': 1})

In [3]:
freq.most_common(1)

[('apple', 5)]

In [4]:
freq.most_common(3)

[('apple', 5), ('fish', 3), ('blob', 1)]

## List Comprehension

In [5]:
nums = range(20)

Simple list comprehension:

In [6]:
[i for i in nums]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

Consider this code:  

```python
output = []
for i in nums:
    if i % 2 == 0:
        output.append(i)
```

To convert this into a list comprehension using a single `if` statement:

In [7]:
[i for i in nums if i % 2 == 0]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

Consider this code:  

```python
output = []
for i in nums:
    if i % 2 == 0:
        output.append(i)
    else:
        output.append(-1)
```

To convert this into a list comprehension using multiple conditions:

In [8]:
[i if i % 2 == 0 else -1 for i in nums]

[0, -1, 2, -1, 4, -1, 6, -1, 8, -1, 10, -1, 12, -1, 14, -1, 16, -1, 18, -1]

**Advanced**
- Dictionary comprehension
- Set comprehension

In [9]:
words = "apple fish banana"
nums = (4, 7, 10)

{word: num for word, num in zip(words.split(), nums)}

{'apple': 4, 'fish': 7, 'banana': 10}

In [10]:
counts = [((0, 1), 10), ((1, 1), 5), ((7, 3), 3), ((7, 0), -1)]

{coordinate: value for coordinate, value in counts}

{(0, 1): 10, (1, 1): 5, (7, 3): 3, (7, 0): -1}

In [11]:
dupes = "apple apple fish apple banana FISH FISH FISH FISH"

{i for i in dupes.split() if i.islower()}

{'apple', 'banana', 'fish'}

## Cycle

In [12]:
from itertools import cycle

cards = cycle([2,3,4,5,6,7,8,9,10,'J','Q','K'])

for i in range(24):
    print(next(cards))

2
3
4
5
6
7
8
9
10
J
Q
K
2
3
4
5
6
7
8
9
10
J
Q
K

## Combinations vs Permutations

In [13]:
from itertools import combinations, permutations

nums = range(5)

Combinations:  
- All unique sets of combinations (i.e if we have `(0, 1)`, we won't have a `(1, 0)`).
- That is, we find all combinations without replacement.
- Ordering does not matter.

In [14]:
list(combinations(nums, r=2))

[(0, 1),
 (0, 2),
 (0, 3),
 (0, 4),
 (1, 2),
 (1, 3),
 (1, 4),
 (2, 3),
 (2, 4),
 (3, 4)]

Permutations:
- All unique sequences of combinations (i.e if we have `(0, 1)`, we will have a `(1, 0)` as it has different ordering).
- That is, all possible *combinations* in which a sequence can be ordered or arranged.
- Ordering does matter.

In [15]:
list(permutations(nums,r=2))

[(0, 1),
 (0, 2),
 (0, 3),
 (0, 4),
 (1, 0),
 (1, 2),
 (1, 3),
 (1, 4),
 (2, 0),
 (2, 1),
 (2, 3),
 (2, 4),
 (3, 0),
 (3, 1),
 (3, 2),
 (3, 4),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3)]

## Unpacking
- Some cool ways of "unpacking" iterables using Python

In [16]:
x, y = (1, 0)
print(x)
print(y)

1
0

In [17]:
nums, count = ([1, 7, 3, 5], 4)
print(nums)
print(count)

[1, 7, 3, 5]
4

In [18]:
*_, n1, n2 = ("rubbish1", "rubbish2", 0, 1)
print(n1)
print(n2)

0
1

In [19]:
n3, *_, n4 = (3, "rubbish1", "rubbish2", "rubbish3", "rubbish4", 7)
print(n3)
print(n4)

3
7

In [20]:
n5, n6, *_ = (10, 9, "rubbish1", "rubbish2", "rubbish3")
print(n5)
print(n6)

10
9

## ASCII conversions

In [21]:
ord("a")

97

In [22]:
chr(97)

'a'

## Bases
Use `int(STRING, BASE)` or `int(0_NUMBER)` where `_` is either a `b` (binary), `o` (octal), or `x` (hexadecimal).

In [23]:
int("1010", 2)

10

In [24]:
bin(10)

'0b1010'

In [25]:
# be careful here if you use the 0x formatting as it must be an integer!
bin('0b1010')

TypeError: 'str' object cannot be interpreted as an integer

In [26]:
int(bin(10))

ValueError: invalid literal for int() with base 10: '0b1010'

In [2]:
int(0b1010)

10

In [28]:
hex(12)

'0xc'

In [29]:
int(0xc)

12

In [3]:
chr(123)

'{'

In [4]:
ord('{')

123

In [5]:
'Z' < 'a'

True

## Previous Exam Questions
#### Question 2
The function takes an integer and decomposes it into k-digit sub-sequences. Consider and input `097097114103104` with `k=3`. The sub-sequences of length `k` will therefore be:
- `097` = `a`
- `097` = `a`
- `114` = `r`
- `103` = `g`
- `104` = `h`

As you can see here, we've padded our first sub-sequence with a `0` since it was of length `k=3`. It is safe to assume that any sub-sequence without length `k` will be padded with `0`s.

In [30]:
from run import *
print(num2txt(97097114103104, k=3))

aargh

Identify exactly 3 errors in the code, aand determine for each whether it is a syntax, runtime, or logic error, and provide a replacement line which corrects the error. 

**EXAM TIPS:** It is always one correct line of code without the use of `;` to supress output, or `\` to force a newline.

#### Question 2
The function `reverse_records(csv_filename, new_filename)` takes in an input `csv_filename` and copies its content into `new_filename`.   
- The header of the input file is copied first
- Then, the ordering of the remaining rows are reversed such that the last row in the input file is inserted in the output file first.

In [31]:
stuff()

Input

 col1  col2  col3
    1     2     3
    4     5     6
    7     8     9
    a     b     c
    x     y     z

Output

 col1  col2  col3
    x     y     z
    a     b     c
    7     8     9
    4     5     6
    1     2     3

Fill in the missing gaps.